html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: georgia;
    position: relative;
    margin: 0 auto;
    min-height: 100%;
    padding-bottom: 6rem;
    color: #222;
    font-size: 1.06em;
    background: #fefefe;
}

.content {
    max-width: 720px;
}

header {
    width: 100%
    max-width: 1200px;
    background-color: #222;
    color: white;
    text-align: center;
    padding: 0.5em;
}

#title {
    font-size: 1.4em;
}

#title a, footer a {
    color: white;
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footnotes hr {
    width: 60px;
    margin-left: 0;
    margin-top: 2em;
}

footer {
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: #222;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.mono {
    font-family: Courier New;
    font-size: .9em;
}

.article-title {
    font-family: Helvetica Neue, Helvetica, sans-serif;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 300;
}

h1,h2,h3,h4,h5 {
    font-family: Helvetica Neue, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

article {
    line-height: 1.4;
    padding: 1.5em;
}

a {
    color: #116fff;
}

a:hover {
    background-color: #116fff;
    color: white;
    text-decoration: none;
}

pre {
    margin-left: -1.4em;
    margin-right: -1.4em;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #f3f3f3;
    padding: 1.5em;
    border-radius: 2px;
    overflow-x: auto;
}

code {
    font-size: 1.1em;
}

/* article ol li p, article ul li p{ width: calc((100% - 2em)*0.58) } */

.grey {
    color: #282828;
}

/* Sidenotes, margin notes, figures, captions */

img {
    max-width: 100%;
    width: 100%
}
